@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: 'BlowBrush';
  src: url('./fonts/blowbrush-webfont.woff2') format('woff2'),
       url('./fonts/blowbrush-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$color-white: #fff;
$color-black: #000;
$color-yellow-darker: #ba7404;
$color-yellow-dark: #d88c05;
$color-yellow: #ffaa00;
$color-yellow-light: #fcc056;
$color-yellow-lighter: #f9c98a;
$color-blue-darker: #073799;
$color-blue-dark: #023ac4;
$color-blue: #1047f9;
$color-blue-light: #3d72f4;
$color-blue-lighter: #76a0f4;

$image-arma-caroline: 'images/arma.jpg';
$image-arma-laerte: 'images/arma-laerte.jpg';

:root {
  --image-arma: url(#{$image-arma-caroline});
}

.underlined {
  color: black;
  flex: 1;
  background-image: linear-gradient(to right, $color-yellow-light 100%, $color-yellow-light 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &--thick {
    background-position: 0 -0.1em;
  }
  &--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -.5em 0 0 $color-blue-light;
    font-weight: bold;
  }
}

strong {
  background-image: url(images/underline.svg);
  background-size: 8em 2.3rem;
  background-repeat: repeat-x;
  padding: 0 0 10px;

  @include media-breakpoint-up(sm) {
    background-size: 8em 2.8rem;
  }
}

html,
body {
  color: #fff;
  font-family: 'Muli', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'BlowBrush', sans-serif;

  margin: 1em 0 1em 0;
  @include media-breakpoint-up(md) {
    margin: 1em 0 1em 0;
  }

  &[title] {
    position: relative;
    color: $color-blue;
    text-indent: -9999px;

    &:before {
      content: attr(title);
      position: absolute;
      left: 0;
      right: 0;
      top: -15%;
      font-size: 130%;
      letter-spacing: 0.05em;
      text-indent: 0;
      font-family: 'BlowBrush', sans-serif;
      color: #DDD;
      white-space: nowrap;
        
      @include media-breakpoint-up(md) {
        top: -30%;
        font-size: 170%;
        letter-spacing: 0.05em;
      }
    }

    &:after {
      content: attr(title);

      position: absolute;
      left: 0;
      right: 0;
      text-indent: 0;
      font-weight: bolder;
      font-family: 'Raleway', Arial, sans-serif;
      text-shadow: 0px 0px 3px #fff;
      
      @include media-breakpoint-up(md) {
      }
    }
  }
}

h2 {
  font-size: 200%;
  @include media-breakpoint-up(md) {
    font-size: 400%;
  }
}

h3 {
  margin: 1em 0 1em 0;
  @include media-breakpoint-up(md) {
    margin: 1em 0 1em 0;
  }
}

#header {
  background: $color-yellow;
  text-align: right;
  vertical-align: middle;
  min-height: 5vh;
  display: flex;
  align-items: center;
}

#menu {
  display: inline-block;
  margin-right: 10px;
  a {
    display: inline-block;
    padding: 10px 0;
    margin-right: 10px;
    vertical-align: middle;
    color: $color-yellow-darker;
  }
}

#socialmedia {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
}

#socialmedia a, footer a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px 0;
  vertical-align: middle;
  margin-right: 10px;

  &.facebook {
    background-image: url(images/facebook.png);
  }
  &.instagram {
    background-image: url(images/instagram.png);
  }
  &.twitter {
    background-image: url(images/twitter.png);
  }
}

#socialmedia a {
  filter: invert(1);
}

@media (min-width: 768px) { }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

#jumbo {
  position: relative;
  height: 60vh;
  background: $color-blue-light;

  &:before, &:after {
    content: "";
    position: absolute;
    height: 2vh;
    width: 100%;
    opacity: 0.75;
    z-index: 20;
  }

  &:before {
    top: 0;
    background: $color-yellow-lighter;
  }
  &:after {
    bottom: 30%;
    background: $color-blue-light;
  }

  #carousel {
    position: absolute;
    top: 0;
    height: 70%;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    background: $color-white;

    div {
      display: flex;
    
      img {
        flex-shrink: 1;
        width: auto;
        height: 100%;
        padding: 6px;
        background: #fff;
        position: relative;
      }
    }
  }

  .logo {
    position: absolute;
    top: 15%;
    height: 80%;
    width: 100%;
    z-index: 30;
  
    &:after {
      content: "";
      position: absolute;
      top: 2%;
      height: 96%;
      width: 100%;
      background-size: contain;
      background-image: url(images/logo-white.png);
      background-repeat: no-repeat;
      background-position: center center;
      filter: invert(28%) sepia(97%) saturate(7488%) hue-rotate(222deg) brightness(95%) contrast(95%);
    }
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-image: url(images/logo-border-white.png);
      background-repeat: no-repeat;
      background-position: center center;
      filter: invert(100%);
    }
  }
}


@keyframes carousel-before {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
@keyframes carousel-after {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}


@keyframes bounceAlpha {
  0% {
      opacity: 1;
      transform: translateX(0px) scale(1);
  }
  25% {
      opacity: 0;
      transform: translateX(10px) scale(0.9);
  }
  26% {
      opacity: 0;
      transform: translateX(-10px) scale(0.9);
  }
  55% {
      opacity: 1;
      transform: translateX(0px) scale(1);
  }
}

#intro {
  position: relative;
  background-color: $color-blue-light;
  padding: 0 3vh 3vh 3vh;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 35vh;

  @include media-breakpoint-up(md) {
    height: 35vh;
  }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   height: 2vh;
  //   left: 0;
  //   right: 0;
  //   opacity: 0.75;
  //   z-index: 19;
  // }
  // &:before {
  //   top: 0;
  //   background: $color-white;
  // }

  p {
    margin: 0;
    width: 100%;
    font-size: 0.9rem;

    @include media-breakpoint-up(sm) {
      width: 70%;
      font-size: 1.2rem;
    }
  }
  div {
    flex-grow: 1;
    display: flex;
    align-items: center;

    a {
      display: block;
      margin-top: 2vh;
      transform: rotate(90deg);
      text-decoration: none;

      position: relative;
      border: 2px solid #fff;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-left: 6px;

      .arrow {
        width: 12px;
        height: 12px;
        background-size: contain;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
      }
      .arrow:nth-child(1) {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-delay: 0.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .arrow:nth-child(2) {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

#video {
  background: $color-black;
  height: 90vh;
  padding: 5vh;
  display: flex;
  align-items: center;
  .plyr {
    max-height: 90vh;
    flex-grow: 1;
  }
}

#goals {
  min-height: 100vh;
  color: $color-blue;
  position: relative;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;

  &:before, &:after {
    content: "";
    position: absolute;
    height: 2vh;
    width: 100%;
    opacity: 0.75;
    z-index: 30;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
    background: $color-blue-lighter;
  }

  .image {
    position: relative;
    width: 40vw;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      width: 30vw;
    }

    .inner-image {
      &:before, &:after {
        background-size: cover;
        background-image: var(--image-arma);
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        position: absolute;
        z-index: 20;
      }
      &:before {
        filter: blur(5px);
        width: 100%;
        height: 100%;
        top:0;
        left:0;
      }
      &:after {
        width: 80%;
        left: 10%;
        height: 30%;
        top: 35%;
        border: 3px solid $color-white;
        @include media-breakpoint-up(sm) {
          height: 80%;
          top: 10%;
        }
        @include media-breakpoint-up(md) {
          height: 90%;
          top: 5%;
        }
      }
      z-index: 10;
      position: relative;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-image: var(--image-arma);
      background-position: center;
    }
  }

  .text {
    position: relative;
    width: 70vw;
    height: 100%;
    padding: 3vh 1vh;
    color: $color-blue-dark;

    @include media-breakpoint-up(md) {
      padding: 5vh 2vh;
    }

    @include media-breakpoint-up(lg) {
      padding: 10vh;
    }

    h2 {
      color: $color-blue-dark;
    }

    ul {
      list-style: none;
      padding: 10px 0;
      margin-bottom: 0;

      li {
        margin: 5px;
        padding: 5px;
        font-weight: bold;
        &:before {
          content: "✎";
          padding-right: 5px;
          font-size: 150%;
          @include media-breakpoint-up(md) {
          }
        }
      }
    }
  }
}


#path {
  background: $color-blue-lighter;
  position: relative;
  padding: 8vh 0;

  &:before, &:after {
    content: "";
    position: absolute;
    height: 2vh;
    width: 100%;
    opacity: 0.75;
    z-index: 30;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
    background: $color-white;
  }

  h2 {
    &:before {
      color: $color-blue-light;
    }
    &:after {
      color: $color-white;
      text-shadow: 0px 0px 5px $color-blue-darker; 
    }
  }

  .text {
    padding: 0 40px 20px;
    text-align: center;

    p {
      font-size: 1.2rem;
      color: $color-blue-darker;

      strong {
        color:#fff;
      }

      &.bigger {
        color:#fff;
        font-size: 1.3rem;
        strong {
          font-size: 1.5rem;
          background-size: 8em 3.8rem;
        }
      }
    }
  }
}

#timeline {
  padding: 0 40px;
}
.timeline {
  width: 100%;

  .periods-container,
  .cards-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 50px;
    transition: height 0.5s ease-in-out;
  }
  .periods-container {
    .btn-back,
    .btn-next {
      display: none;
      width: 15%;
      position: absolute;
      cursor: pointer;
      z-index: 10;
      transition: 0.3s ease-in-out;

      &.hide {
        display: none;
      }
      &.btn-back { left: 0; }
      &.btn-next { right: 0; }
    }
    
    section {
      width: 60%;
      height: 0;
      position: absolute;
      margin-left: 20%;
      border-bottom: 5px solid;
      padding: 0.7rem;
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out, opacity 0.2s ease, height 0.3s ease;
      bottom: 0;
      opacity: 0;

      h4 {
        margin: 0;
      }
      
      p {
        display: none;
      }

      &.active {
        height: auto;
        opacity: 1;
        transform: translateX(0);
        z-index: 5;

        .title, p {
          display: block;
        }
      }

      &.prev {
        height: auto;
        opacity: 0.4;
        transform: translateX(-100%);
        z-index: 0;
      
        .year {
          text-align: right;
        }
      }

      &.next {
        height: auto;
        opacity: 0.4;
        transform: translateX(100%);
        z-index: 0;
        
        .year {
          text-align: left;
        }
      }
    }
  }

  .timeline-container {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
  
    &:before {
      background-image: linear-gradient(to right, $color-blue-lighter, $color-blue-lighter 50%, rgba(248, 248, 248, 0));
      left: 0;
      content: "";
      position: absolute;
      z-index: 20;
      top: 0;
      height: 100%;
      width: 20vh;
    }
  
    &:after {
      background-image: linear-gradient(to left, $color-blue-lighter, $color-blue-lighter 50%, rgba(248, 248, 248, 0));
      right: 0;
      content: "";
      position: absolute;
      z-index: 20;
      top: 0;
      height: 100%;
      width: 20vh;
    }
  
    .btn-back,
    .btn-next {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      padding: 5px 0;
      z-index: 30;
      transition: all 0.3s ease;
  
      &.btn-back { left: 0; }
      &.btn-next { right: 0; }
  
      &.hide {
        display: none;
      }
    }
  
    .timeline-steps {
      position: absolute;
      display: block;
      width: 100%;
      margin: 15px 0 0;
      transition: left 0.3s ease-in-out;
  
  
      ol {
        display: block;
        width: 200%;
        padding-left: 50%;
        border-bottom: 2px solid;
        height: 11px;
        list-style: none;
  
        li {
          display: inline-block;
          padding: 5px;
          margin-right: 2%;
          border-radius: 50%;
          border: 3px solid ;
          position: relative;
          cursor: pointer;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
          &.active {
            box-shadow: none;
  
            &:before {
              content: "";
              display: block;
              height: 25px;
              width: 4px;
              margin-left: -2px;
              position: absolute;
              top: -25px;
              transition: opacity 0.3s ease-in-out;
            }
  
            &:after {
              content: "";
              display: block;
              height: 25px;
              width: 4px;
              margin-left: -2px;
              position: absolute;
              bottom: -25px;
              transition: opacity 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  .cards-container {
    &:before {
      background-image: linear-gradient(to right, $color-blue-lighter, rgba(248, 248, 248, 0));
      left: 0;
      content: "";
      position: absolute;
      z-index: 20;
      top: 0;
      height: 100%;
      width: 5vh;
    }

    &:after {
      background-image: linear-gradient(to left, $color-blue-lighter, rgba(248, 248, 248, 0));
      right: 0;
      content: "";
      position: absolute;
      z-index: 20;
      top: 0;
      height: 100%;
      width: 5vh;
    }

    section {
      position: absolute;
      top: 0;
      width: 90%;
      margin-bottom: 2em;
      border: 1px solid;
      opacity: 0;
      padding: 1%;
      border-radius: 8px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
      background: $color-white;

      &.active {
        height: auto;
        opacity: 1;
        transform: translateX(5%);
        z-index: 5;
        transition: transform 0.3s ease-in-out;
      }

      &.prev {
        height: auto;
        opacity: 0.4;
        transform: translateX(-95%);
        z-index: 0;
        transition: transform 0.3s ease-in-out;
      }

      &.next {
        height: auto;
        opacity: 0.4;
        transform: translateX(105%);
        z-index: 0;
        transition: transform 0.3s ease-in-out;
      }

      .year {
        text-align: center;
        font-size: 16px;
        margin: 0;
      }

      .title {
        font-weight: 400;
      }

      img {
        width: 100%;
      }
    }
  }
}

.timeline {
  .periods-container {
    // h4 { color: $color-white; }
    section.active {
      border-color: $color-white;
    }
  }
  .timeline-container .timeline-steps ol li {
    border-color: $color-white;
    background-color: #aaa;
      
    &.active-period {
      background-color: $color-blue-light;
    }

    &.active:before, &.active:after {
      background-color: $color-white;
    }
  }
}

#social {
  padding: 8vh 0;
  color: $color-blue-dark;

  img {
    padding: 10px;
    background: $color-white;
    border: 2px solid $color-black;
  }

}

#clipping {
  background: $color-blue-lighter;
  position: relative;
  padding: 8vh 0;

  &:before, &:after {
    content: "";
    position: absolute;
    height: 2vh;
    width: 100%;
    opacity: 0.75;
    z-index: 30;
  }
  &:before {
    top: 0;
    background: $color-white;
  }
  &:after {
    bottom: 0;
    background: $color-white;
  }

  h2 {

    &:before {
      color: $color-blue-light;
    }
    &:after {
      color: $color-white;
      text-shadow: 0px 0px 5px $color-blue-darker; 
    }
  }

  ul, li { margin: 0; padding: 0 }

  li {
    margin-bottom: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    background: $color-white;
    list-style: none;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      border: 3px solid $color-blue-lighter;
      padding: 5px;
      border-radius: 8px;
    }
    
  }
}

#contact {
  padding: 8vh 0;
  text-align: center;

  input, textarea {
    background: $color-white;
    border: 1px solid $color-blue-lighter;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  input[type=submit] {
    width: auto;
    background: $color-blue-light;
    color: $color-white;
  }
}

footer {
  min-height: 10vh;
  border: 3vh solid $color-blue-darker;
  background: $color-blue-darker url(images/logo-horizontal.png) no-repeat left center;
  background-size: contain;
  text-align: right;
}