@import "../header.scss";

main[data-scope="apoie"] {
  #section-hero {
    margin-top: $spacer * 2;
    font-size: 1.2 * $font-size-base;
  }

  #section-dados {
    h3 {
      color: $secondary;
    }
    .dados-box {
      display: flex;
      flex-direction: column;

      p {
        flex-grow: 1;
        background: $primary-light;
        border-radius: $spacer;
        color: white;
        text-align: center;
        padding: $spacer;
        font-size: 1.5 * $font-size-base;

        * { color: white; }
      }
    }

    .quote {
      text-align: center;


      p:first-child {
        font-weight: lighter;
        font-size: 1.5 * $font-size-base;

        &::before {
          text-align: left;
          content: "\F6B0";
          font-family: $bootstrap-icons-font;
          font-size: 4 * $font-size-base;
          color: $secondary-light;
          display: block;
          opacity: 0.5;

          margin-left: -5rem;
          margin-bottom: -3 * $spacer;
        }

        &::after {
          text-align: left;
          content: "\f6b0";
          font-family: bootstrap-icons;
          font-size: 4rem;
          color: #ffbb33;
          display: block;
          opacity: 0.5;

          margin-right: -4rem;
          transform: rotate(180deg);
          margin-top: -3rem;
        }
      }
      p:last-child {
        color: $primary;
        font-weight: bold;
        font-size: 1.2 * $font-size-base;

        span {
          font-size: 1 * $font-size-base;
          display: block;
        }
      }
    }
  }

}
