@import '../header.scss';

main[data-scope='fale-conosco'] {
  #section-hero {
    display: flex;
    margin-top: $spacer * 6;
    margin-bottom: $spacer * 3;
    align-items: center;
    padding: 0 $spacer * 2;
    justify-content: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    h1 {
      font-size: 2 * $font-size-base;
      color: $secondary;
      text-transform: uppercase;
      font-weight: 900;
    }

    label {
      font-weight: bold;
      color: $primary;
    }

    .container-conteudo,
    .container-formulario {
      max-width: 600px;
    }
  }
}
