@import "../header.scss";

main[data-scope="na-midia"] {
  #section-hero {
    h1 {
      font-size: 4 * $font-size-base;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      margin-top: -20%;
    }

    background: url(../images/na-midia.png);
    background-position: bottom center;
    background-size: contain;
    background-color: $secondary;
    background-repeat: no-repeat;
    min-height: 40vw;
    display: flex;
    align-items: center;
  }

  section.section-year {
    background: $primary-light;
    padding: $spacer * 2 0 0 0;


    h2 {
      width: 30%;
      background: $secondary;
      color: white;
      border-radius: $spacer $spacer 0 0;
      padding: $spacer;
      text-align: center;
      margin: 0 auto;
    }

    &:first-of-type {
      h2 {
        margin-top: -6.5rem;
      }
    }

    .carousel {
      background: #eee;
      padding: $spacer * 2 $spacer * 4;
    }

  }
}