@import "../header.scss";

main[data-scope="parceiros"] {
  #section-hero {
    h1 {
      font-size: 3 * $font-size-base;
      color: $primary;
      font-weight: 900;
      text-align: center;
      margin-top: $spacer * 6;
      margin-bottom: $spacer;
    }
  }

  #section-parceiros {

    .parceiro {
      margin: $spacer;
      background: $primary-light;
      display: flex;

      color: white;
      padding: $spacer * 0.5;
      border-radius: $spacer;

      &>div:first-child {
        background: white;
        border-radius: $spacer;
        min-width: 200px;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 180px;
          max-height: 180px; 
        }
      }

      &>div:last-child {
        padding: $spacer;
      }
    }
  }

  #section-parceiro {
    h1 {
      font-size: 3.5 * $font-size-base;
      color: $secondary;
      text-transform: uppercase;
      font-weight: 900;
    }
    p {
      font-size: 1.2 * $font-size-base;
    }
    button {
      background: $secondary;
      color: white;
      border: none;
      padding: $spacer $spacer * 3;
      font-size: 1.5 * $font-size-base;
      font-weight: 900;
    }
  }
}
