@import "../header.scss";


main[data-scope="projetos-e-acoes"] {
  #section-hero {
    h1 {
      font-size: 4 * $font-size-base;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
    }

    background: url(../images/projetos-e-acoes-1.png), url(../images/projetos-e-acoes-2.png);
    background-position: top left, top right;
    background-size: contain, contain;
    background-color: $secondary;
    background-repeat: no-repeat;
    min-height: 35vh;
    display: flex;
    align-items: center;
  }

  #section-projetos {
    h2 {
      background: $secondary;
      color: white;
      padding: $spacer * 3;
      text-align: center;
      text-transform: none;
    }

    h3 {
      color: $primary;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
    }

    .card {
      background: $primary-light;

      h3 {
        color: white;
      }

      div:last-child {
        bottom: 0;
        border-radius: 0 0 $spacer $spacer;
        margin-bottom: -2 * $spacer;
        margin-left: -2 * $spacer;
        margin-right: -2 * $spacer;
      }
    }
  }
}
