@import 'header.scss';

:root {
  --uni-blue: #{$primary};
  --uni-blue-light: #{$primary-light};

  --bs-nav-link-color: white;
}

html,
body {
  font-family: 'Mulish', sans-serif;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  color: $primary;
}

a {
  text-decoration: none;
  color: $primary;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $primary;
  }
}

strong {
  font-weight: 900;
  color: $secondary;
}

nav {
  background-color: var(--uni-blue-light);
}

.navbar-nav {
  --bs-nav-link-color: white;
}

.navbar-button {
  display: none;
  @include media-breakpoint-down(lg) {
    & {
      display: block;
      margin-left: 20px;
      border: none;
      margin-top: 2rem;
      background-color: transparent;
    }

    &::before {
      margin-right: 4px;
      content: '';
      display: inline-block;
      height: 4px;
      width: 24px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 8px #fff, 0 -8px #fff;
      transition: transform 0.3s;
    }
  }
}

#navbar {
  position: relative;
  padding-top: $spacer * 5;
  @include media-breakpoint-down(lg) {
    padding-top: $spacer;
  }

  .navbar-nav {
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .navbar-nav:nth-child(1) {
    text-align: left;
    margin-left: $spacer;
    width: 50%;
    @include media-breakpoint-up(sm) {
      & {
        margin-right: $spacer * 8;
        width: auto;
      }
    }
  }
  .navbar-nav:nth-child(3) {
    text-align: right;
    margin-right: $spacer;
    width: 50%;
    @include media-breakpoint-up(sm) {
      & {
        margin-left: $spacer * 8;
        width: auto;
      }
    }
  }

  a {
    color: white;
    flex-grow: 1;
    zoom: 0.6;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
    }
    @include media-breakpoint-up(sm) {
      & {
        zoom: 1;
      }
    }
  }
}

#logo {
  &::before {
    content: '';
    position: absolute;
    border-radius: $spacer * 40;
    top: $spacer * -37.5;
    left: $spacer * -20 + $spacer * 5;
    width: $spacer * 40;
    height: $spacer * 40;
    background: var(--uni-blue);
    z-index: 1;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: $spacer * 10;
  height: $spacer * 10;
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--uni-blue);
    z-index: 2;
    border-radius: 100px;
    box-shadow: 0px ($spacer * -1) ($spacer) rgb(0 0 0 / 25%),
      0px calc($spacer / 2) calc($spacer / 2) rgb(255 255 255 / 25%);
  }

  svg {
    width: 65%;
    height: 65%;
    z-index: 3;
  }
}

footer {
  background: $primary;

  .container-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > a {
    text-indent: -9999px;
    display: block;
    text-align: center;
    padding: 1 * $spacer;
    background: $secondary;
    border-top: $spacer solid $secondary-light;
    color: white;
    height: (1 + 1 + 3 + 1) * $spacer;
    position: relative;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
    }

    &::before {
      position: absolute;
      text-indent: 0;
      content: '\f139';
      font-family: $bootstrap-icons-font;
      font-size: 3 * $spacer;
      line-height: 3 * $spacer;
      left: calc(50% - 1.5 * $spacer);
    }
  }

  & > div {
    padding: 3 * $spacer 5 * $spacer;
  }

  color: white;

  h2.h5 {
    color: $secondary-light;
    font-weight: 900;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: white;
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: white;
      }
    }
  }

  .container-redeSocial {
    display: flex;
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  .img-Uni {
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding-top: $spacer * 2;
  }
}
